$white: #FFF !default;
$gray-100: #F8F9FA !default;
$gray-200: #E9ECEF !default;
$gray-300: #DEE2E6 !default;
$gray-400: #CED4DA !default;
$gray-500: #ADB5BD !default;
$gray-600: #6C757D !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grey: #808285 !default;
$silver: #C8C8C8 !default;
$alabaster: #F8F8F8 !default;

$dark-blue: #1A73BA !default;
$mid-blue: #26BDCF !default;
$lite-blue: #80C9D2 !default;
$green: #11AA58 !default;
$light-green: #89B77F !default;
$lime: #B5B935 !default;
$purple: #6A2569 !default;
$magenta: #B11C54 !default;
$pink: #EF5BA1 !default;
$red: #EE312D !default;
$orange: #F78F31 !default;
$yellow: #FFF450 !default;
$brown: #5E3E2A !default;
$dark: #9E785F !default;
$mid: #F0BA95 !default;
$lite: #FEE0C9 !default;

$primary: $orange !default;
$secondary: $dark-blue !default;
$success: $green !default;
$info: $mid-blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $alabaster !default;
$dark: $grey !default;
